<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA08h1jdPYUkW-7CtYZ9iOCGbeTtXur0Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>4898875722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christianlorenzo.Messenger1</string>
	<key>PROJECT_ID</key>
	<string>messenger1-87ecc</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger1-87ecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4898875722:ios:7efd822b3f707c86cd39b3</string>
</dict>
</plist>